@import 'common';

// .top {
//   display: flex;
//   flex-direction: column;
//   background-image: $background-gradient;
//   padding: 20px 0;
//   height: 1000px;
//   .top-title {
//     font-family: $serif-font;
//     color: white;
//     text-align: center;
//     font-weight: 900;
//     font-size: 55px;
//     padding-bottom: 100px;
//   }
//   .top-content {
//     display: flex;
//     justify-content: center;

//     .top-left {
//       width: 60%;
//       padding: 20px;
//     }
//     .top-right {
//       width: 30%;
//       padding: 20px;

//       // Panel styling
//       .panel {
//         width: 500px;
//         // margin: auto;

//         .MuiPaper-root {
//           background-color: #0d6974;
//           margin: 2px 0;
//           height: 60px;
//         }
//         .Mui-expanded {
//           height: auto;
//           .MuiExpansionPanelSummary-root {
//             background-color: gray;
//           }
//         }

//         .MuiButtonBase-root {
//           .MuiExpansionPanelSummary-root {
//             height: 30px;
//           }
//         }

//         .MuiExpansionPanelDetails-root {
//           background-color: #ffffff;
//         }
//         .summary {
//           font-weight: 500;
//           font-size: 25px;
//           color: #ffffff;
//         }
//         .details {
//           color: #474747;
//           font-size: 18px;
//           padding: 10px;
//           line-height: 1.5;
//         }
//       }
//     }
//   }
// }

.top {
  background-image: $background-gradient;
  min-height: 600px;
  .wrapper {
    display: grid;
    justify-items: center;
  }
  .intro-title {
    font-family: $serif-font;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    grid-column: 1/3;
    padding: 10px;
  }
  .intro-card {
    justify-self: right;
    padding: 20px;
  }
  .intro-panel {
    justify-self: left;
    padding: 20px;
  }
  @include midsize {
    .intro-title {
      font-size: 48px;
      grid-column: 1;
    }
    .intro-card {
      justify-self: center;
    }
    .intro-panel {
      justify-self: center;
    }
    .panel {
      max-width: 750px;
      width: auto;
    }
  }
  @include tablet {
    .intro-title {
      font-size: 36px;
    }
  }
  @include phone {
    .intro-title {
      font-size: 32px;
    }
  }
}

.panel {
  width: 500px;
  min-width: 300px;
  padding: 20px;
  .MuiPaper-root {
    background-color: #0d6974;
    margin: 2px 0;
    height: 60px;
  }
  .Mui-expanded {
    height: auto;
    .MuiExpansionPanelSummary-root {
      background-color: gray;
    }
  }

  .MuiButtonBase-root {
    .MuiExpansionPanelSummary-root {
      height: 30px;
    }
  }

  .MuiExpansionPanelDetails-root {
    background-color: #ffffff;
  }
  .summary {
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
  }
  .details {
    color: #474747;
    font-size: 18px;
    padding: 10px;
    line-height: 1.5;
  }
  @include phone {
    .summary {
      font-size: 20px;
      width: 100%;
      min-width: 100px;
    }
  }
}

// .card-simple {
//   padding: 20px;
//   background-color: #00c895;
//   border-radius: 20px;
//   .card-title {
//     text-transform: uppercase;
//     font-weight: 700;
//     letter-spacing: 2px;
//     font-size: 20px;
//     text-align: center;
//     color: #474747;
//   }
// }

.card-simple {
  margin: 20px;
  padding: 20px;
  background-color: #00c895;
  box-shadow: 10px 20px 40px -16px rgba(0, 0, 0, 0.63);
  border-radius: 20px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  max-width: 700px;
  max-height: 800px;
  // min-width: 500px;
  .card-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    color: #474747;
  }
  .wrapper {
    margin: 10px;
  }
  .dark {
    color: #474747;
  }
  .inner-card {
    padding: 20px;
    background-color: #0d6974;
    box-shadow: 10px 20px 40px -16px rgba(0, 0, 0, 0.63);
    border-radius: 12px;
    margin-bottom: 25px;
    font-size: 18px;
  }
  .card-top {
    display: flex;
    justify-content: center;
    .card-left {
      width: 40%;
      min-width: 216px;
    }
    .card-right {
      width: 60%;
      min-width: 290px;
    }
  }
  .card-details {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    .divider:before {
      content: '|';
      font-family: 'Playfair Display';
      font-size: 35px;
      font-weight: 300;
      padding: 0 10px 0;
    }
    .inner-title {
      font-size: 16px;
    }
    .inner-details {
      font-weight: 300;
      font-size: 14px;
    }
  }
  @include tablet {
    .card-top {
      flex-wrap: wrap;
      .card-left {
        width: 100%;
        min-width: auto;
      }
      .card-right {
        width: 100%;
        min-width: auto;
      }
    }
  }
  @include phone {
    margin: auto;
    // min-width: auto;
    max-height: none;
    // width: 100%;
    .card-details {
      flex-direction: column;
      .divider:before {
        content: '';
        border-bottom: 1px solid;
        font-family: 'Playfair Display';
        font-size: 2px;
        font-weight: 300;
        // padding: 10px 0;
      }
    }
  }
}

.parallax {
  background: #fff url('/background.svg') no-repeat -50% center / 200% auto;
  background-attachment: fixed;
}

.parallax-inner {
  position: relative;
}

.trans-center {
  padding: 100px 20px 300px;
  max-width: 992px;
  align-content: center;
  margin: 0 auto;
  @include phone {
    padding-bottom: 500px;
  }
}

// Midway cards
.mid-way {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.attached-bottom {
  transform: translate(0, -50%);
}
.attached-top {
  transform: translate(0, -100%);
}

.bottom {
  padding: 300px 0 0;
  background-color: #fff;
  .bottom-title {
    margin: 30px 0;
    display: relative;
    color: $theme-font-color;
    top: 500px;
    text-align: center;
    font-family: $serif-font;
    font-size: 55px;
    font-weight: 600;
  }
  .bottom-section-dark {
    background-image: $background-gradient;
    padding: 100px 0;
    margin: 100px 0;
    position: relative;
    .bottom-title {
      color: #ffffff;
      margin: 50px 0;
    }
  }
  .small-text {
    font-size: 18px;
    color: #666;
    text-align: center;
    line-height: 1.77;
    max-width: 1200px;
    margin: 20px auto;
  }
  .image-centering {
    margin: 0 auto;
    max-width: 992px;
    img {
      width: 100%;
      padding: 100px 20px 100px;
    }
  }
  @include midsize {
    .bottom-title {
      font-size: 48px;
    }
  }
  @include tablet {
    .bottom-title {
      font-size: 36px;
    }
  }
  @include phone {
    .bottom-title {
      font-size: 32px;
      margin: 0 48px;
    }
  }
}

.p-top {
  @include phone {
    padding-top: 200px;
  }
}

.p-top-all {
  padding-top: 150px;
}

// .p-bottom {
//   @include
// }

.transparent-card {
  color: $theme-font-color;
  font-size: 32px;
  padding: 50px 0;
  .span-1 {
    font-weight: 700;
  }
  .span-2 {
    font-weight: 600;
  }
  .small-text {
    font-size: 25px;
    margin: auto 20px;
  }
  img {
    width: 100%;
  }
  a {
    color: $theme-color;
    text-decoration: none;
  }
  @include tablet {
    font-size: 28px;
    padding: 30px;
    .small-text {
      font-size: 20px;
    }
  }
  @include phone {
    font-size: 22px;
    padding: 30px;
    .small-text {
      font-size: 18px;
    }
  }
}

.quote-card {
  box-shadow: 0 64px 24px -50px rgba(0, 0, 0, 0.2);
  color: #fff;
  background-image: $background-gradient;
  padding: 30px;
  display: flex;
  justify-content: center;
  max-width: 1400px;
  // margin: 0 15px;
  margin: 0 auto;
  .quote-left {
    width: 20%;
    .quotecard-logo {
      // max-height: 200px;
      max-width: 70%;
      padding-top: 20px;
      // max-width: 200px;
    }
    .solace-logo {
      max-width: 75% !important;
    }
    .rbc-logo {
      max-width: 60%;
    }
  }
  .quote-symbol:before {
    content: '“';
    height: 100px;
    font-weight: 800;
    font-size: 180px;
    line-height: 0.8;
    color: rgb(63, 73, 85);
    font-family: $serif-font;
  }
  .quote-right {
    width: 50%;
    color: #fff;
    .quote-text {
      font-family: $serif-font;
      font-size: 23px;
      margin: 20px 0;
    }
    .author {
      display: flex;
      .author-img {
        border-radius: 50%;
        max-width: 140px;
        margin: 20px 0;
      }
      .author-desc {
        align-self: center;
        margin-left: 15px;
        .author-name {
          font-weight: 700;
          font-size: 18px;
        }
      }
    }
  }
  @include tablet {
    padding: 10px;
    margin: 0 10px;
    // font-size: ;
    .quote-right {
      width: 60%;
      .quote-text {
        font-size: 20px;
      }
      .author {
        .author-name {
          font-size: 15px;
        }
      }
    }
  }
  @include phone {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    .quote-left {
      width: 30%;
      .quotecard-logo {
        display: block;
        margin: 0 auto;
      }
      .solace-logo {
        max-width: 100% !important;
      }
      .rbc-logo {
        max-width: 100% !important;
      }
    }
    .quote-symbol:before {
      content: '“';
      font-size: 120px;
      line-height: 01;
      color: rgb(63, 73, 85);
      font-family: $serif-font;
    }
    .quote-right {
      width: 90%;
      .quote-text {
        margin-top: 0;
      }
      .author {
        flex-direction: column;
        align-items: center;
        text-align: center;
        .author-img {
          order: 1;
        }
        .author-desc {
          order: 0;
          margin: 20px 0;
        }
      }
    }
  }
}

.fetaures {
  display: flex;
  max-width: 1400px;
  margin: 20px auto;
  .feature-card {
    // max-width: 33.33%;
    padding: 20px;
    margin: 20px;
    color: $theme-font-color;
    .feature-card-logo {
      max-width: 80px;
      margin: 0 auto;
      display: block;
    }
    .feature-card-title {
      font-size: 32px;
      text-align: center;
      font-weight: 600;
      padding-bottom: 10px;
    }
    .feature-card-description {
      font-size: 18px;
      max-width: 550px;
      color: #666;
    }
  }
  .features-divider {
    height: 400px;
    width: 2px;
    background-image: linear-gradient(38deg, #fff 4%, #00c895 100%);
    margin: auto 0;
    content: '';
  }
  @include tablet {
    .feature-card {
      margin: auto;
      padding: auto;
    }
  }
}

// Buttons
.button {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  height: 50px;
  color: #fff;
  background-color: $theme-color;
  border-radius: 50px;
  margin: 10px auto;
}
.btn-lg {
  max-width: 300px;
  margin: 20px auto 250px;
  @include tablet {
    margin: 20px auto 150px;
  }
}
.btn-md {
  max-width: 250px;
  margin-bottom: 200px;
}
.button:hover {
  background-color: #16b383;
  cursor: pointer;
}

.clients {
  max-width: 1400px;
  background-image: $background-gradient;
  position: absolute;
  color: #fff;
  text-align: center;
  box-shadow: 0 64px 24px -50px rgba(0, 0, 0, 0.2);
  padding: 30px 0;
  p {
    font-size: 25px;
    font-weight: 600;
    // padding: 40px 0 0;
  }
  .logos-section {
    display: flex;
    justify-content: space-around;
  }
  .client-logo {
    max-width: 150px;
  }
  .mqtt {
    content: url('/mqtt-white.png');
  }
  .mqtt:hover {
    content: url('/mqtt.png');
  }
  .amqp {
    content: url('/amqp-white.png');
  }
  .amqp:hover {
    content: url('/amqp.png');
  }
  .node {
    content: url('/node-white.png');
  }
  .node:hover {
    content: url('/node.png');
  }
  .websocket {
    content: url('/websocket-white.png');
  }
  .websocket:hover {
    content: url('/websocket.png');
  }
  .paho {
    content: url('/paho-white.png');
  }
  .paho:hover {
    content: url('/paho.png');
  }
  .jms {
    content: url('/jms-white.png');
  }
  .jms:hover {
    content: url('/jms.png');
  }
  .restful {
    content: url('/restful-white.png');
  }
  .restful:hover {
    content: url('/restful.png');
  }
  @include midsize {
    margin: auto 25px;
    .client-logo {
      width: 10%;
    }
  }
}

.partners {
  max-width: 1400px;
  background-image: $secondary-gradient;
  position: absolute;
  color: #fff;
  text-align: center;
  box-shadow: 0 64px 24px -50px rgba(0, 0, 0, 0.2);
  padding: 50px 15px;
  p {
    font-weight: 600;
    font-size: 24px;
  }
  .logos-section {
    display: flex;
    justify-content: space-around;
  }
  .partner-logo {
    max-width: 150px;
  }
  .pivotal {
    content: url('/pivotal-white.png');
    transition: all 1s linear;
  }
  .pivotal:hover {
    content: url('/pivotal.png');
  }
  .f5 {
    content: url('/f5-white.png');
  }
  .f5:hover {
    content: url('/f5.png');
  }
  .sap {
    content: url('/sap-white.png');
  }
  .sap:hover {
    content: url('/sap.png');
  }
  .boomi {
    content: url('/boomi-white.png');
  }
  .boomi:hover {
    content: url('/boomi.png');
  }
  @include midsize {
    margin: auto 25px;
    .partner-logo {
      width: 20%;
    }
  }
}

.solution {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
  // height: 600px;
  .solution-card {
    color: white;
    min-width: 300px;
    // min-height: 300px;
    height: 100%;
    background-color: #3f4955;
    margin: 10px;
    .solution-image {
      min-width: 100px;
      margin: 20px !important;
    }
    .solution-title {
      font-size: 30px;
      font-weight: 600;
      margin: 20px;
      padding: 0 20px;
    }
    .solution-details {
      font-size: 18px;
      padding: 0 20px;
      margin: 20px;
    }
    .solution-link {
      font-weight: 700;
      color: $theme-color;
    }
    .solution-link::after {
      content: '\00a0\203A';
    }
  }
  .solution-card:hover {
    box-shadow: 0 0 40px 6px rgba(0, 0, 0, 0.63);
    cursor: pointer;
  }
  @include midsize {
    .solution-title {
      text-align: center;
    }
  }
}

.option {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
  .option-card {
    color: white;
    min-width: 200px;
    // min-height: 300px;
    height: 100%;
    background-color: #3f4955;
    margin: 10px;
    .option-image {
      max-width: 88px;
      margin: 0px auto;
      padding-top: 30px;
      display: block;
    }
    .option-title {
      font-size: 30px;
      font-weight: 600;
      margin: 20px;
      padding: 0 20px;
      text-align: center;
    }
    .option-details {
      font-size: 18px;
      padding: 0 40px;
      margin: 20px 0;
      line-height: 30px;
    }
    .option-link {
      width: 180px;
      margin-bottom: 20px;
    }
  }
  .option-card:hover {
    box-shadow: 0 0 40px 6px rgba(0, 0, 0, 0.63);
  }
  @include midsize {
    .option-card {
      margin: 0 30px;
    }
    padding: 45px 25px;
  }
  @include phone {
    .option-card {
      margin: 0 15px;
    }
  }
}

.organization {
  max-width: 1400px;
  background-color: white;
  position: absolute;
  color: black;
  text-align: center;
  box-shadow: 0 64px 24px -50px rgba(0, 0, 0, 0.2);
  padding: 30px 0;
  p {
    font-size: 25px;
    font-weight: 600;
    // padding: 40px 0 0;
  }
  .logos-section {
    display: flex;
    justify-content: space-around;
  }
  .organization-logo {
    max-width: 200px;
  } 
  .barclays {
    content: url('/barclays-white.png');
  }
  .barclays:hover {
    content: url('/barclays.png');
  }
 .sap {
    content: url('/sap-black.png');
  }
.sap:hover {
    content: url('/sap-blue.png');
  }
.airtel{
   content : url('/airte_white.png')
  }
.airtel:hover{
    content: url('/airtel.png')
  }
 .rbc{
   content : url('/white_rbc.png')
 }
 .rbc:hover {
   content : url('/rbc.png')
 }
 .gr{
   content: url('./white_gr.png')
 }
 .gr:hover{
   content : url('./Groupr.png')
 }
    @include midsize {
    margin: auto 25px;
    .client-logo {
      width: 10%;
    }
  }
}