@import 'common';

// replace dimensions by data
// .top {
//   height: 500px;
//   background-color: #3b4550;
//   color: white;
//   padding-top: 20px;
//   display: flex;
//   justify-content: center;
//   p {
//     font-weight: 900;
//     font-size: 55px;
//     text-align: center;
//   }
// }

.top {
  display: flex;
  flex-direction: column;
  background-image: $background-gradient;
  padding: 20px 0;
  height: 1000px;
  .top-title {
    font-family: $serif-font;
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 55px;
    padding-bottom: 100px;
  }
  .top-content {
    display: flex;
    justify-content: center;
    .top-left {
      width: 50%;
      padding: 50px;
    }
    .top-right {
      width: 50%;
      padding: 50px;

      // Panel styling
      .panel {
        width: 500px;
        // margin: auto;

        .MuiPaper-root {
          background-color: #0d6974;
          margin: 2px 0;
          height: 60px;
        }
        .Mui-expanded {
          height: auto;
          .MuiExpansionPanelSummary-root {
            background-color: gray;
          }
        }

        .MuiButtonBase-root {
          .MuiExpansionPanelSummary-root {
            height: 30px;
          }
        }

        .MuiExpansionPanelDetails-root {
          background-color: #ffffff;
        }
        .summary {
          font-weight: 500;
          font-size: 25px;
          color: #ffffff;
        }
        .details {
          color: #474747;
          font-size: 18px;
          padding: 10px;
          line-height: 1.5;
        }
      }
    }
  }
}

.parallax {
  background: #fff url('/background.svg') no-repeat -50% center / 200% auto;
  background-attachment: fixed;
}

.parallax-inner {
  padding: 100px 0 0;
}

.trans-center {
  padding-bottom: 300px;
}

.bottom {
  padding: 20px;
  background-color: #eee;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-around;
  .mid-way {
    transform: translate(0, -50%);
  }
  .bottom-title {
    color: #3f4955;
    top: 500px;
    text-align: center;
    font-family: $serif-font;
    font-size: 55px;
    font-weight: 900;
  }
}

.transparent-card {
  color: #3f4955;
  font-size: 32px;
  padding: 50px 0;
  .span-1 {
    font-weight: 700;
  }
  .span-2 {
    font-weight: 500;
  }
  .small-text {
    font-size: 25px;
  }
  img {
    width: 100%;
  }
  a {
    color: $theme-color;
    text-decoration: none;
  }
}

.quote-card {
  color: white;
  background-image: $background-gradient;
  padding: 30px;
  display: flex;
  justify-content: center;
  .quote-left {
    width: 20%;
    .quotecard-logo {
      // max-height: 200px;
      max-width: 70%;
      padding-top: 20px;
      // max-width: 200px;
    }
  }
  .quote-symbol:before {
    content: '“';
    height: 100px;
    font-weight: 600;
    font-size: 180px;
    line-height: 1;
    color: rgb(63, 73, 85);
  }
  // }
  .quote-right {
    width: 50%;
    color: white;
    .quote-text {
      font-family: $serif-font;
      font-size: 23px;
      margin: 20px 0;
    }
    .author {
      display: flex;
      .author-img {
        border-radius: 50%;
        max-width: 140px;
        margin: 20px 0;
      }
      .author-desc {
        align-self: center;
        margin-left: 15px;
      }
    }
  }
}
